.Crud {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form input {
  width: 300px;
  height: 15px;
  margin:10px;
  font-size: 25px;
}
.card{
  margin: 5px;
  border: 2px solid black
}
.botao{
  margin: 5px;
}

.telaLogin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.botaoGoogle{
  margin-top: 16px;
  height: 50px;
  border-radius: 6px;
  font-weight: 500;
  background: #ea4335;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;
}
.botaoLogin{
  margin-top: 3px;
  height: 30px;
  border-radius: 6px;
  font-weight: 500;
  background: #1215d3;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;
}
.fileForm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
